:host {
  ::ng-deep {

    .p-sidebar-close {
      visibility: hidden;
    }

    .p-tieredmenu-overlay {
      position: fixed;
      display: flex !important;
      width: fit-content;
      justify-content: start;
    }

    .p-float-label label {
      left: 15px;
      color: darkgray;
    }

    .save-button {
      padding: 8px;
      margin-left: 15px;
    }

    .p-error {
      margin-top: 6px;
    }

    .p-dialog .p-dialog-content {
      height: 150px;
      align-items: center;
      display: flex;
      justify-content: center;
    }

    .p-tieredmenu .p-submenu-list {
      left: -100% !important;
      /* To open the submenu to the left */
    }

    .custom-tiered-menu .p-tieredmenu-submenu .p-submenu-list {
      left: -16px;
      /* Adjust this value based on the space you need */
    }

    .p-submenu-icon {
      display: none;
    }

    .p-inline-message.p-inline-message-info {
      width: 100%;
      justify-content: start;
      background: #F8981D;
      border: none;
      color: white;
    }

    .p-inline-message-icon {
      color: white;
    }

    .line {
      background-color: var(--surface-border);
      height: 1px;
      border: 0;
      color: var(--surface-border);
    }

    .breakdown-lecture {
      width: 50px;
      height: 20px;
      background-color: #0085CA;
      display: inline-block;
      justify-content: space-between;
    }

    .breakdown-assignment {
      width: 50px;
      height: 20px;
      background-color: rgba(#0085CA, 0.5);
      display: inline-block;
      justify-content: space-between;
    }

    .breakdown-project {
      width: 50px;
      height: 20px;
      background-color: rgba(#0085CA, 0.15);
      display: inline-block;
      justify-content: between;
    }

    .p-listbox .p-listbox-list .p-listbox-item {
      justify-content: center;
    }

    .p-sidebar-footer {
      height: 70px;
      display: flex;
      justify-content: end;
    }

    .p-togglebutton {
      width: fit-content;
      font-size: small;
    }

    .add-course {
      background: transparent;
        border-color: #6EB43F;
        color: #6EB43F;
        width: fit-content;
        font-size: small;
        height: 41px;
    }

    .add-course {
      .p-togglebutton.p-button.p-highlight {
        background: transparent;
        border-color: brown;
        color: brown;
      }

      .p-togglebutton.p-button.p-highlight .p-button-icon-left,
      .p-togglebutton.p-button.p-highlight .p-button-icon-right {
        color: brown;
      }

      .p-togglebutton.p-button {
        background: transparent;
        border-color: #6EB43F;
        color: #6EB43F;
      }

      .p-togglebutton.p-button .p-button-icon-left,
      .p-togglebutton.p-button .p-button-icon-right {
        color: #6EB43F;
      }
    }

    .wishlist-course {
      .p-togglebutton.p-button.p-highlight {
        background: transparent;
        border-color: rgb(168, 35, 126);
        color: rgb(168, 35, 126);
      }

      .p-togglebutton.p-button.p-highlight .p-button-icon-left,
      .p-togglebutton.p-button.p-highlight .p-button-icon-right {
        color: rgb(168, 35, 126);
      }

      .p-togglebutton.p-button {
        background: transparent;
        border-color: rgb(236, 107, 195);
        color: rgb(236, 107, 195);
      }

      .p-togglebutton.p-button .p-button-icon-left,
      .p-togglebutton.p-button .p-button-icon-right {
        color: rgb(236, 107, 195);
      }
    }


  }
}
