<p-sidebar #sideBar [(visible)]="sidebarVisible" position="right" [style]="{width: '50%'}" [baseZIndex]="10000"
    (onHide)="onDialogClose()">
    <ng-template pTemplate="header">

        <button class="sidebar-button align-items-center" (click)="onDialogClose()">
            <span class="subject-code" style="font-size:small; font-weight:800; color:brown;">
                Hide Details
            </span>
            <i class="pi pi-angle-right" style="color:brown;"></i>
        </button>
    </ng-template>
    <div class="flex flex-column w-full">
        <div class="flex flex-row justify-content-between align-items-center w-full">
            <div class="flex flex-row">
                <h1 class="subject-code" style="text-decoration:underline;font-weight: 500;margin:0px;">
                    {{courseDetail.subjectCode}}
                </h1>
                <h1 style="font-weight: 500;margin:0px;">
                    {{courseDetail.courseCode}}
                </h1>
            </div>
            <div class="flex flex-column align-items-end">
                <span class="subject-code" style="font-size:small; font-weight:800; text-decoration:underline;">
                    Syllabi
                </span>
                <span style="font-size:small; font-weight:800;">
                    {{courseDetail.credits}} Credits
                </span>
                <span style="font-size:small; font-weight:800;">
                    {{courseDetail.offered}}
                </span>
                &nbsp;
            </div>
        </div>
        <h2 style="margin-top:0px;">
            {{courseDetail.title}}
        </h2>
        <p-message class="pb-2" *ngIf="!meetsPrereq" severity="info"
            text="You do not meet the prerequisites for this course."></p-message>
        <p-message class="pb-2" *ngIf="!meetsRestrictions" severity="info" [text]="restrictionMessage"></p-message>
        <!--course description-->
        <p-panel header="Course Description" class="flex flex-row w-full" [toggleable]="true">
            <p style="font-size: small;">
                {{ courseDetail.description }}
            </p>
        </p-panel>
        <h3>
            Prerequisites
        </h3>
        <span id="prereq" style="font-size:small; font-weight:500;">
            {{prerequisites}}
        </span>

        <h3 style="margin-bottom:0px;">
            Enrollment Information
        </h3>
    <!--lecture details-->
    <div class="flex flex-row justify-content-between mt-3 grid">
        <div class="flex flex-row col w-full justify-content-between">
            <div class="grid flex flex-row w-full">
                <div class="flex flex-wrap col-2 pr-0">
                    <span style="font-size:small; font-weight:800;">
                        {{courseDetail.lectureDetail.prefix}} {{courseDetail.lectureDetail.lectureId}}
                    </span>
                </div>
                <div class="flex flex-wrap col-2">
                    <div style="font-size: smaller;">
                        <span>{{formatDayString(courseDetail.lectureDetail.dayTimes, true)}} </span>
                    </div>
                </div>
                <div class="flex flex-wrap col-2">
                    <div style="font-size: smaller;">
                        <span>{{util.formatTime(courseDetail.lectureDetail.dayTimes[0].startTime)}}-{{util.formatTime(courseDetail.lectureDetail.dayTimes[0].endTime)}}</span>
                    </div>
                </div>
                <div class="flex flex-wrap col-2">
                    <div style="font-size: smaller;">
                        <span>{{formatDayString(courseDetail.lectureDetail.lecturers, false)}}</span>
                    </div>
                </div>
                <div class="flex flex-column col-2">
                    <div style="font-size: smaller;">
                        <span>{{courseDetail.lectureDetail.dayTimes[0].location}}</span>
                    </div>
                </div>
                <div style="font-size: smaller; color:darkgrey" class="flex align-items-start col-2">
                    {{courseDetail.lectureDetail.classFormat}} expectation
                </div>
            </div>  
        </div>
        <div class="flex align-items-start col-fixed justify-content-end m-0 pl-0" style="width: 100px;">
            <span style="font-size: smaller;">{{checkCapacity(courseDetail.lectureDetail.vacancy,
                courseDetail.lectureDetail.capacity)}}</span>
            &nbsp;
            <span [ngClass]="(courseDetail.lectureDetail.vacancy === courseDetail.lectureDetail.capacity) ? 'full-dot' : 'vacancy-dot'"></span>
        </div>
    </div>
    <!--discussion details-->
    <div class="flex flex-row justify-content-between mt-1 grid" *ngFor="let course of courseDetail.discussionItems">
        <div class="flex flex-row col w-full py-0 justify-content-between">
            <div class="grid flex flex-row py-0 w-full">
                <div class="flex flex-wrap col-2 pr-0">
                    <span style="font-size:small; font-weight:800;">
                        {{course.prefix}} {{course.discussionId}}
                    </span>
                </div>
                <div class="flex flex-wrap col-2">
                    <div style="font-size: smaller;">
                        <span>{{formatDayString(course.dayTimes, true)}}</span>
                    </div>
                </div>
                <div class="flex flex-wrap col-2">
                    <div style="font-size: smaller;">
                        <span>{{util.formatTime(course.dayTimes[0].startTime)}}-{{util.formatTime(course.dayTimes[0].endTime)}}</span>
                    </div>
                </div>
                <div class="flex flex-wrap col-2">
                    <div style="font-size: smaller;">
                        <span>{{formatDayString(course.lecturers, false)}}</span>
                    </div>
                </div>
                <div class="flex flex-wrap col-2">
                    <div style="font-size: smaller;">
                        <span>{{course.dayTimes[0].location}}</span>
                    </div>
                </div>
                <div style="font-size: smaller; color:darkgrey" class="flex align-items-start col-2">
                    {{course.classFormat}} expectation
                </div>
            </div>  
        </div>
        <div class="flex align-items-start col-fixed justify-content-end m-0 pl-0" style="width: 100px;">
            <span style="font-size:smaller;">{{checkCapacity(course.vacancy,
                course.capacity)}}</span>
            &nbsp;
            <span
                [ngClass]="(course.vacancy === course.capacity) ? 'full-dot' : 'vacancy-dot'"></span>
        </div>
    </div>
        <hr class="line" width="100%" />
        <!--workload breakdown-->
        <h3 style="margin-bottom:0px;">
            Workload: {{courseDetail.workload.hours}} Hrs
        </h3>
        <div class="flex flex-row mt-3">
            <!--lecture breakdown-->
            <div class="flex flex-column">
                <span style="font-size:small; font-weight:500;">
                    Lecture
                </span>
                <div class="mt-1" style="display: inherit;">
                    <div *ngFor="let _ of [].constructor(courseDetail.workload.lecture)" class="flex flex-row mr-1">
                        <div class="breakdown-lecture"></div>
                    </div>
                </div>

            </div>
            <!--assignment breakdown-->
            <div class="flex flex-column">
                <span style="font-size:small; font-weight:500;">
                    Individual Assignments
                </span>
                <div class="mt-1" style="display: inherit;">
                    <div *ngFor="let _ of [].constructor(courseDetail.workload.assignment)" class="flex flex-row mr-1">
                        <div class="breakdown-assignment"></div>
                    </div>
                </div>

            </div>
            <!--project breakdown-->
            <div class="flex flex-column">
                <span style="font-size:small; font-weight:500;">
                    Group Projects
                </span>
                <div class="mt-1" style="display: inherit;">
                    <div *ngFor="let _ of [].constructor(courseDetail.workload.project)" class="flex flex-row mr-1">
                        <div class="breakdown-project"></div>
                    </div>
                </div>

            </div>

        </div>
    </div>
    <ng-template pTemplate="footer" *ngIf="showAddButton">
        <p-toggleButton (onChange)="addRemoveWishlist()" [(ngModel)]="wishlisted" offLabel="Add to Wishlist"
            onLabel="Remove from Wishlist" offIcon="pi pi-heart" onIcon="pi pi-heart-fill"
            [style]="{ width: 'fit-content' }" class="pr-5 wishlist-course"></p-toggleButton>
        <!-- <p-toggleButton [(ngModel)]="added" offLabel="Add Course to Scheduler" 
            onLabel="Remove Course from Scheduler" offIcon="pi pi-calendar-plus" onIcon="pi pi-calendar-times" 
            [style]="{ width: 'fit-content' }" class="add-course" (onChange)="menu.toggle($event)">
        </p-toggleButton> -->
        <button #btn type="button" pButton icon="pi pi-calendar-plus" label="Add/Remove Course on Scheduler"
            (click)="menu.toggle($event)" class="add-course"></button>
        <p-tieredMenu [styleClass]="'custom-tiered-menu'" [style]="{ 'z-index': '10001'}" #menu
            [model]="addCourseOptions" [popup]="true"></p-tieredMenu>
        <!-- <p-tieredMenu #menu [model]="addCourseOptions" [popup]="true" [styleClass]="'custom-tiered-menu'" [style]="{ 'z-index': '10001'}">
            <ng-template let-item pTemplate="item">
              <li [ngClass]="{'bg-color': isExistingItem(item.label)}">
                <a class="p-menuitem-link">
                  <span *ngIf="item.icon" [class]="item.icon"></span>
                  <span [ngClass]="isExistingItem(item.label)? 'bg-color p-menuitem-text': 'bg-no-color p-menuitem-text'">{{item.name}}</span>
                </a>
              </li>
            </ng-template>
          </p-tieredMenu> -->
        <p-dialog [appendTo]="sideBar" [modal]="true" header="Add to Schedule" [(visible)]="displayListbox" [style]="{ width: '30vw', height: '300px' }" [draggable]="false">
            <div class="flex py-2 justify-content-center align-items-start w-full flex-column">
                <small class="pb-2 text-600">Select Schedule to add to:</small>
                <p-listbox [(ngModel)]="addedSchedules" optionLabel="name" [listStyle]="{ 'max-height': '250px' }" class="w-full"
                    [options]="userSchedules" [multiple]="true" [metaKeySelection]="false" (onChange)="addToSchedule(addedSchedules)"></p-listbox>
                <!-- <p-button (click)="saveInput()" [label]="buttonLabel" [icon]="buttonIcon" [disabled]="saving"
                    styleClass="p-button-sm save-button pl-2"></p-button> -->
            </div>
        </p-dialog>
        <p-dialog [modal]="true" header="Create Schedule" [(visible)]="showInputBoxFlag" [style]="{ width: '30vw' }" [draggable]="false"
            (onHide)="inputText = ''">
            <div class="flex py-2 justify-content-center align-items-center">
                <span class="p-float-label">
                    
                    <div class="flex flex-column">
                        <input pInputText id="scheduleName" [(ngModel)]="inputText" aria-describedby="scheduleName-help" />
                        <label htmlFor="scheduleName">Schedule Name</label>
                    <small *ngIf="validScheduleName(inputText) || startsWithWhiteSpace(inputText) || endsWithWhiteSpace(inputText)" id="scheduleName-help" class="p-error">{{errorMessage}}</small>
                    </div>
                    
                </span>
                <p-button (click)="saveInput()" [label]="buttonLabel" [icon]="buttonIcon" [disabled]="saving || validScheduleName(inputText) || startsWithWhiteSpace(inputText) || isOnlyWhitespace(inputText) || endsWithWhiteSpace(inputText)"
                    styleClass="p-button-sm save-button pl-2"></p-button>
            </div>
        </p-dialog>
    </ng-template>
</p-sidebar>