:host {
  width: 100%;
  height: 100%;

  .p-button-success {
    align-items: start;
  }

  .p-button.p-button-success,
  .p-buttonset.p-button-success>.p-button,
  .p-splitbutton.p-button-success>.p-button {
    .course-catalog {
      color: black;
      background: #D9D9D9;
      border: 1px solid #D9D9D9;
    }



  }

  .p-button.p-button-success {
    //.course-catalog {
    border: none !important;
    //}
  }

  .course-catalog:hover {
    background: #a2a0a0;
    color: black;
  }

  // color: #ffffff;
  // background: #ebd17e;
  // border: 1px solid #ebd17e;


  .registration:hover {
    background: #c5d1d9;
    color: black;
  }

  .personal-info:hover {
    background: #e6e4e4;
    color: black;
  }

  .p-button.p-button-success:focus {

    // color: #ffffff;
    // background: #ebd17e;
    // border: 1px solid #e0ae0b;
    .course-catalog {
      background: #a2a0a0;
      color: black;
    }

    .registration {
      background: #c5d1d9;
      color: black;
    }

    .personal-info {
      background: #cdcccc;
      color: black;
    }
  }

  ::ng-deep {
    .p-virtualscroller-header {
      padding: 8px;
      background: transparent;
      color: black;
      position: relative;
      top: -2px;
      left: -1.5px;
      width: 100.5%;
      border-radius: 0px;
      border-top: none;
    }

    .p-virtualscroller-header:hover {
      background: transparent;
      color: black;
    }

    .p-scroller-content {
      width: 100%;
    }

    .virtual-scroll-component {
        margin: 8px; 
        border: 1px solid #dfe7ef;
    }

    .p-virtualscroller-item {
      border-bottom: solid;
      border-bottom-color: #f8f6f9;
    }

    .p-virtualscroller .p-virtualscroller-content {
      color: #8b99a8;
    }

    .task-description {
      width: inherit;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .home-body {
      height: 96%;
    }

    .p-button-label {
      flex: none;
    }

    .p-datatable .p-datatable-thead>tr>th {
      padding-top: 5px;
      padding-bottom: 5px;
    }

    .p-datatable .p-datatable-tbody>tr>td {
      padding-top: 5px;
      padding-bottom: 5px;
    }

    .p-datatable-wrapper {
      border: 1px solid;
      border-radius: 0px;
      border-color: var(--surface-border)
    }

    .course-catalog {
      background: #D9D9D9;
      color: black;
    }

    .registration {
      background: #ECF1F4;
      color: black;
    }

    .personal-info {
      background: #F7F7F7;
      color: black;
    }
  }
}
