<div class="course-detail flex flex-column w-full">

    <div class="flex flex-row justify-content-between align-items-center w-full">
        <div class="flex flex-row">
            <p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>
            <p-button (click)="confirmDelete()" class="flex align-items-center" icon="pi pi-trash"
                styleClass="p-button-rounded p-button-text"></p-button>
            <!-- <p-checkbox name="group" [value]="courseDetail" [(ngModel)]="courseSelected"
            [binary]="true" inputId="binary" (onChange)="courseSelect(courseDetail)" class="pr-2"></p-checkbox> -->
            <h3 class="subject-code" style="text-decoration:underline;">
                {{courseDetail.subjectCode}}
            </h3>
            <h3>
                {{courseDetail.courseCode}}
            </h3>
            &nbsp;&nbsp;
            <h3>
                {{courseDetail.title}}
            </h3>
        </div>
        <div>
            <span style="font-size:small; font-weight:800;">
                {{courseDetail.offered}}
            </span>
            &nbsp;
            |
            &nbsp;
            <span style="font-size:small; font-weight:800;">
                {{courseDetail.credits}} Credits
            </span>
            &nbsp;
            <!-- <span (click)="openFullDetail()" class="subject-code" style="font-size:small; font-weight:800; text-decoration:underline;">
                    Syllabi
                </span> -->
            <button class="sidebar-button" (click)="openFullDetail()">
                <!-- <span class="subject-code" style="font-size:small; font-weight:800; text-decoration:underline;">
                        Syllabi
                    </span> -->
                <i class="pi pi-angle-right" style="color: darkgrey;"></i>
            </button>
            <course-full-detail [sidebarVisible]="sidebarVisible" [courseDetail]="courseDetail"
                (onClose)="sidebarVisible = false" [showAddButton]="false"></course-full-detail>
        </div>
    </div>
    <div class="flex flex-row w-full">
        <div class="flex flex-column w-full">
            <!--lecture details-->
            <div class="flex flex-row justify-content-between mt-3 grid">
                <div class="flex flex-row col w-full justify-content-between">
                    <div class="grid flex flex-row w-full">
                        <div class="flex flex-wrap col-2">
                            <span style="font-size:small; font-weight:800;">
                                {{courseDetail.lectureDetail.prefix}} {{courseDetail.lectureDetail.lectureId}}
                            </span>
                        </div>
                        <div class="flex flex-wrap col-2">
                            <div style="font-size: smaller;">
                                <span>{{formatDayString(courseDetail.lectureDetail.dayTimes, true)}} </span>
                            </div>
                        </div>
                        <div class="flex flex-wrap col-2">
                            <div style="font-size: smaller;">
                                <span>{{formatTime(courseDetail.lectureDetail.dayTimes[0].startTime)}}-{{formatTime(courseDetail.lectureDetail.dayTimes[0].endTime)}}</span>
                            </div>
                        </div>
                        <div class="flex flex-wrap col-3">
                            <div style="font-size: smaller;">
                                <span>{{formatDayString(courseDetail.lectureDetail.lecturers, false)}}</span>
                            </div>
                        </div>
                        <div style="font-size: smaller; color:darkgrey" class="flex align-items-start col-3">
                            {{courseDetail.lectureDetail.classFormat}} expectation
                        </div>
                    </div>
                </div>
            </div>
            <!--discussion details-->
            <div class="flex flex-row justify-content-between mt-1 grid" *ngFor="let course of courseDetail.discussionItems">
                <div class="flex flex-row col w-full py-0 justify-content-between">
                    <div class="grid flex flex-row py-0 w-full">
                        <div class="flex flex-wrap col-2">
                            <span style="font-size:small; font-weight:800;">
                                {{course.prefix}} {{course.discussionId}}
                            </span>
                        </div>
                        <div class="flex flex-wrap col-2">
                            <div style="font-size: smaller;">
                                <span>{{formatDayString(course.dayTimes, true)}}</span>
                            </div>
                        </div>
                        <div class="flex flex-wrap col-2">
                            <div style="font-size: smaller;">
                                <span>{{formatTime(course.dayTimes[0].startTime)}}-{{formatTime(course.dayTimes[0].endTime)}}</span>
                            </div>
                        </div>
                        <div class="flex flex-wrap col-3">
                            <div style="font-size: smaller;">
                                <span>{{formatDayString(course.lecturers, false)}}</span>
                            </div>
                        </div>
                        <div style="font-size: smaller; color:darkgrey" class="flex align-items-start col-3">
                            {{courseDetail.discussionDetail.classFormat}} expectation
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex align-items-center col-fixed justify-content-end m-0 pl-0" style="width: 100px;">
            <span class="font-semibold" style="font-size: smaller;">Position:</span>&nbsp;&nbsp;
            <span class="font-normal"
                style="font-size: smaller;">{{courseDetail.position}}/{{courseDetail.totalWaitlisted}}</span>
        </div>
    </div>

</div>