<div class="flex flex-row justify-content-between align-items-center">
      <h1>Plan Course Schedule</h1>
      <div class="flex flex-row" style="height: fit-content">
            <div class="flex align-items-center px-2 selection-button" style="height: 45px;">
                  <span class="pi pi-calendar calender"></span>
            </div>
            <p-dropdown [options]="schedules" [(ngModel)]="selectedSchedule" optionLabel="name"
                  placeholder="Select Schedule" (onChange)="scheduleChange()" class="mr-2">
                  <ng-template pTemplate="selectedItem">
                        <div class="flex align-items-center gap-2" *ngIf="selectedSchedule">
                              <div>{{ selectedSchedule.name }}</div>
                        </div>
                  </ng-template>
                  <ng-template let-schedule pTemplate="item">
                        <div class="flex align-items-center gap-2">
                              <div>{{ schedule.name }}</div>
                        </div>
                  </ng-template>
            </p-dropdown>
            <p-button styleClass="create-button" class="flex align-items-center pr-1" (click)="showInputBoxFlag = true">
                  <!-- <span class="mr-2 font-normal">Create New</span> -->
                  <i class="pi pi-plus"></i>
            </p-button>
            <p-dialog [modal]="true" header="Create Schedule" [(visible)]="showInputBoxFlag" [style]="{ width: '30vw' }"
                  (onHide)="inputText = ''" [draggable]="false">
                  <div class="flex py-2 justify-content-center align-items-center">
                        <span class="p-float-label pr-2">

                              <div class="flex flex-column">
                                    <input pInputText id="scheduleName" [(ngModel)]="inputText"
                                          aria-describedby="scheduleName-help" />
                                    <label htmlFor="scheduleName">Schedule Name</label>
                                    <small *ngIf="validScheduleName(inputText) || startsWithWhiteSpace(inputText) || endsWithWhiteSpace(inputText)"
                                          id="scheduleName-help" class="p-error">{{errorMessage}}</small>
                              </div>
                        </span>
                        <p-button (click)="saveInput()" [label]="buttonLabel" [icon]="buttonIcon"
                              [disabled]="saving || validScheduleName(inputText) || startsWithWhiteSpace(inputText) || isOnlyWhitespace(inputText) || endsWithWhiteSpace(inputText)"
                              styleClass="p-button-sm save-button pl-2"></p-button>
                  </div>
            </p-dialog>
            <!-- <p-button styleClass="edit-button" class="flex align-items-center pr-1" (click)="showEditBoxFlag = true">
                  
                  <i class="pi pi-pencil"></i>
            </p-button>
            <p-dialog [modal]="true" header="Edit Schedule Name" (onShow)="inputText = selectedSchedule.name" [(visible)]="showEditBoxFlag" [style]="{ width: '30vw' }"
                  (onHide)="inputText = selectedSchedule.name" [draggable]="false">
                  <div class="flex py-2 justify-content-center align-items-center">
                        <span class="p-float-label pr-2">

                              <div class="flex flex-column">
                                    <input pInputText id="scheduleName" [(ngModel)]="inputText"
                                          aria-describedby="scheduleName-help" />
                                    <label htmlFor="scheduleName">Schedule Name</label>
                                    <small *ngIf="validScheduleName(inputText) || startsWithWhiteSpace(inputText) || endsWithWhiteSpace(inputText)"
                                          id="scheduleName-help" class="p-error">{{errorMessage}}</small>
                              </div>
                        </span>
                        <p-button (click)="saveInput()" [label]="buttonLabel" [icon]="buttonIcon"
                              [disabled]="saving || validScheduleName(inputText) || startsWithWhiteSpace(inputText) || isOnlyWhitespace(inputText) || endsWithWhiteSpace(inputText)"
                              styleClass="p-button-sm save-button pl-2"></p-button>
                  </div>
            </p-dialog> -->
            <p-button styleClass="delete-button" class="flex align-items-center" (click)="confirmDelete()">
                  <!-- <span class="mr-2 font-normal">Create New</span> -->
                  <i class="pi pi-trash"></i>
            </p-button>
            <p-confirmDialog class="delete-dialog" [style]="{width: '30vw'}"></p-confirmDialog>
      </div>
      <div style="width: 400px;">
            <span class="p-input-icon-left w-full">
                  <p-autoComplete class="relative flex" [ngStyle]="{'width': '350px'}" [(ngModel)]="searchValue"
                        [suggestions]="filteredItems" (completeMethod)="filterCourses($event)" (onSelect)="updateCourses(searchValue)"
                        (onFocus)="showPlaceholder = false" (onBlur)="loseFocus()" field="name"></p-autoComplete>
                  <div *ngIf="showPlaceholder" class="flex flex-row absolute text-600" style="top:30%; left:10%;">
                        <i class="pi pi-search mr-2"></i>
                        <small>Enter course # to add more classes</small>
                  </div>
            </span>
      </div>
</div>
<!-- <div class="justify-content-end absolute mb-5 flex w-full" style="left: -15px;">
      <p-accordion [ngStyle]="{'width': '300px'}">
            <p-accordionTab>
                <ng-template pTemplate="header">
                    <div class="flex align-items-center">
                        <i class="pi pi-heart-fill ml-2 mr-2" style="color: #B31B1B"></i>
                        <span class="vertical-align-middle font-normal"  style="color: #B31B1B">Wishlist Courses</span>
                    </div>
                </ng-template>
                <ng-template pTemplate="content">
                   <div *ngFor="">

                   </div>
                    <p class="m-0">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                        laborum.
                    </p>
                </ng-template>
            </p-accordionTab>
      </p-accordion>
</div> -->
<full-calendar #fullcalendar [options]="calendarOptions">
      <ng-template #eventContent let-arg>
            <span style="font-size: smaller;">{{arg.event.extendedProps.subjectCode}}{{arg.event.extendedProps.courseCode}}
                  {{arg.event.title}}</span><br>
            <span style="font-size: smaller;">
                  {{arg.event.id}}</span>&nbsp;
            <b style="font-size: small;">{{arg.timeText}}</b>
      </ng-template>
</full-calendar>
<div class="flex flex-row w-full justify-content-between">
      <div class="flex flex-row flex-wrap" style="display: flex;width: 70%;">
            <div *ngFor="let item of selectedSchedule.data" style="height: fit-content;">
                  <course-widgets [courseDetail]="item" (removedCourse)="removeCourse($event)"></course-widgets>
            </div>
      </div>
      <div>
            <div class="flex flex-column mt-1">
                  <div class="flex flex-row align-items-center">
                        <span class="text-400 font-semibold pr-3">{{term}}, {{creditSum}} Credits</span>
                        <button class="export-button px-4 py-2 align-items-center">
                              <i class="pi pi-download pr-2"></i>
                              <span>
                                  Export
                              </span>
                        </button>
                  </div>
                  <p-selectButton class="mt-3" [options]="stateOptions" [(ngModel)]="value" optionLabel="label" optionValue="value"></p-selectButton>
            </div>

      </div>
</div>