<div class="card flex h-full w-full justify-content-center">
    <div class="flex justify-content-center align-items-center">
        
        <div class="flex flex-column">
            <div class="pb-3 font-bold text-3xl flex justify-content-center">Register</div>
            <form [formGroup]="registerForm">
                <div class="flex flex-column gap-2 pb-3">
                    <label htmlFor="username">Username</label>
                    <input id="username" aria-describedby="username-help" pInputText formControlName="username"/>
                    <small class="text-600" id="username-help">Enter a username</small>
                </div>
                <div class="flex flex-column gap-2 pb-3">
                    <label htmlFor="email">Email</label>
                    <input id="email" aria-describedby="email-help" pInputText formControlName="email"/>
                    <small class="text-600" id="email-help">Enter a valid email address</small>
                </div>
                <div class="flex flex-column gap-2 pb-3">
                    <label htmlFor="password">Password</label>
                    <p-password formControlName="password" [toggleMask]="true"></p-password>
                </div>
            </form>
            <div class="flex flex-row justify-content-evenly pt-3 relative">
                <p-button label="Register" [loading]="loading" (onClick)="onSubmit()"></p-button>
                <p-button id="login" label="Login" routerLink="/login" routerLinkActive="active"></p-button>
                <p class="text-xs absolute text-600" style="top:-15px; right:-50px;" label="login-help">Already have an account?</p>
            </div>
        </div>
        
    </div>
</div>
