/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import 'primeflex/primeflex.scss';

html, body {
    min-height: 100vh;
    height: auto;
    margin: 0;
  }

app-root {
    flex: 1 1 auto;
}