<div class="widget-body justify-content-between flex flex-row m-1">
    <div class="flex flex-row">
        <div class="align-items-start pr-2">
            <div class="square" [ngStyle]="{ 'background-color': courseDetail.color }"></div>
        </div>
        <div class="flex flex-column">
            <div class="flex flex-row justify-content-between">
                <div class="flex flex-row">
                    <span class="font-medium text-xs">{{courseDetail.subjectCode}}</span>&nbsp;
                    <span class="font-medium text-xs">{{courseDetail.courseCode}}</span>
                </div>
                
            </div>
            <span class="text-xs">
                {{courseDetail.title}}
            </span>
        </div> 
    </div>
    <div class="flex flex-column relative">
        <div class="flex flex-row align-items-start justify-content-end" style="width: 100px;">
            <span class="text-400 text-xs">
                {{courseDetail.credits}} Credits
            </span>
            <button class="sidebar-button" (click)="openFullDetail()"> 
                <!-- <span class="subject-code" style="font-size:small; font-weight:800; text-decoration:underline;">
                    Syllabi
                </span> -->
                <i class="pi pi-angle-right" style="color: darkgrey;"></i>
            </button>
            <course-full-detail [sidebarVisible]="sidebarVisible" [courseDetail]="courseDetail"
                (onClose)="sidebarVisible = false" [showAddButton]="false"></course-full-detail>
            <button class="remove-button" (click)="handleRemove()" [ngStyle]="{ 'right': '-10px', 'top': '40px', 'position': 'absolute' }">
                <i class="pi pi-trash text-400"></i>
            </button>
            <!-- <p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog> -->
            <!-- <p-button class="remove-button" icon="pi pi-trash absolute text-400" styleClass="p-button-rounded p-button-text" [ngStyle]="{ 'right': '-15px', 'top': '25px', 'position': 'absolute' }"></p-button> -->
            <!-- <i class="pi pi-trash absolute text-400" style="right: 0px; top: 40px;"></i> -->
        </div>
        <div class="flex align-items-center col-fixed justify-content-center my-0 pr-0 py-0" style="width: 100px;">
            <span [ngClass]="(courseDetail.lectureDetail.vacancy === courseDetail.lectureDetail.capacity) ? 'full-dot' : 'vacancy-dot'"></span>
        </div>
    </div>
    
</div>