:host{

  ::ng-deep {
    // .p-button {
    //   padding: none;
    //   border: none;
    //   background: transparent;
    //   transition: none;
    // }    
    .menu-bar .p-togglebutton.p-button, .p-togglebutton.p-button.p-highlight  {
      font-size: 1.5rem; 
      color:white;
      border: none;
      background: transparent;
    }

    .p-togglebutton.p-button:focus {
      outline: none;
      border: none;
       
        box-shadow: none;
    
    }

    .rotated {
      transition: all 0.5s;
      transform: rotate(-180deg);
    }
    .rotated-opp {
      transition: all 0.5s;
      transform: rotate(180deg);
    }

    .menu-bar .p-togglebutton.p-button.p-highlight  {
      font-size: 1.5rem; 
      color:white;
      border: none;
      background: transparent;
    }
    .menu-bar .p-togglebutton.p-button.p-highlight:hover  {
      font-size: 1.5rem; 
      color:white;
      border: none;
      background: transparent;
    }
  
    .menu-bar .p-togglebutton.p-button.p-highlight:focus  {
      font-size: 1.5rem; 
      color:white;
      border: none;
      background: transparent;
    }
  
    .menu-bar .p-togglebutton.p-button .p-button-icon-left, .p-togglebutton.p-button .p-button-icon-right {
      font-size: 1.5rem; 
      color:white;
      border: none;
      background: transparent;
    }
  
    .p-menubar-start {
      flex-direction: row;
      display: flex;
      align-items: center;
    }
    .p-menubar{
      background: #B31B1B;
      color: white;
      border: none;
      border-radius: 0px;
    }
  }
}